[submodule "src/openssl"]
	path = src/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/tor"]
	path = src/tor
	url = https://git.torproject.org/tor.git
[submodule "src/protobuf"]
	path = src/protobuf
	url = https://github.com/google/protobuf.git
[submodule "src/qt5"]
	path = src/qt5
	url = https://github.com/qtproject/qt5.git
[submodule "src/libevent"]
	path = src/libevent
	url = https://github.com/libevent/libevent
